@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoBlack.woff') format("woff");
  src: url('fonts/RobotoBlack.woff2') format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoMedium.woff') format("woff");
  src: url('fonts/RobotoMedium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
}
