.container {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 2766px;
  background-color: #e3eafe;
}

.header {
  background: url(img/Digital.jpg);
  background-repeat: no-repeat;
  max-height: 839px;
  padding: 0 71px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 71px;
  padding-bottom: 131px;
}

.menu__item {
  font: 900 18px/21px 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  max-width: 725px;
  max-height: 21px;
  margin-right: 60px;
}

.burger {
  background-color: #fff;
  display: none;
  height: 3px;
  margin: 0;
  position: relative;
  width: 23px;
}

.burger::before {
  background-color: #fff;
  content: " ";
  height: 3px;
  margin: 0;
  position: absolute;
  top: 8px;
  width: 23px;
}

.burger::after {
  background-color: #fff;
  bottom: 8px;
  content: " ";
  height: 3px;
  margin: 0;
  position: absolute;
  width: 23px;
}

.section-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 419px;
  padding-right: 52px;
 }

.section-txt__title {
  color: #e1e6e9;
  font: 900 40px/47px 'Roboto', sans-serif;
  align-self: flex-end;
  margin: 0 7px 0 0;
 }

.section-txt__subtitle {
  align-self: flex-end;
  color: #e1e6e9;
  font: 900 20px/23px 'Roboto', sans-serif;
  margin-bottom: 50px;
  max-width: 283px;
  margin-top: 0;
  text-align: right;
 }

@keyframes flash {
  0% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.section-txt__btn {
  color: #fff;
  font: 900 20px/23px 'Roboto', sans-serif;
  background: #e0036f;
  text-decoration: none;
  cursor: pointer;
  transition: 2s;
  padding: 1px 69px;
  height: 55px;
  align-self: flex-end;
 }

.section-txt__btn:hover {
  background: #00ff00;
  animation: flash .2s 1;
  animation-duration: 1s;
 }

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 55px;
 }

.content__title {
  font: 500 30px/35px 'Roboto', sans-serif;
  color: #585858;
  text-align: center;
  max-width: 45%;
  margin: 0;
  margin-bottom: 40px;
 }

.content__subtitle {
  font: 900 30px/35px 'Roboto', sans-serif;
  color: #263b83;
  margin: 0;
  margin-bottom: 33px;
  padding-right: 13px;
 }

.content__btn {
  width: 200px;
  height: 55px;
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #000;
  background: #ffda45;
  text-decoration: none;
  transition: opacity .5s;
  margin-bottom: 18px;
 }

.content__btn:hover {
  opacity: .5;
 }

.content__btn-two {
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #585858;
  width: 146px;
  text-decoration: none;
  border-bottom: 3px solid #ffda45;
  padding-bottom: 10px;
  transition: color .2s;
}

.content__btn-two:hover {
  color: #0056ec;
}

.application {
  align-items: center;
  background: #405dbb;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  max-height: 327px;
  max-width: 1440px;
 }

.info-txt {
  padding-top: 117px;
  padding-left: 130px;
 }

.info-txt__title {
  font: 900 30px/35px 'Roboto', sans-serif;
  color: #fff;
  margin: 0 0 20px 0;
  max-width: 227px;
 }

.info-txt__subtitle {
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #fff;
  padding-right: 43px;
  padding-bottom: 108px;
  margin: 0;
  max-width: 430px;
 }

.info-txt__img {
  max-width: 461px;
  padding-right: 43px;
 }

 .info-txt__image {
   display: none;
 }

.txt__btn {
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #000;
  background: #ffda45;
  width: 203px;
  height: 55px;
  text-decoration: none;
  margin-right: 131px;
  cursor: pointer;
  transition: 2s;
 }

 .txt__btn:hover {
   background: #ff4500;
 }

.section-speakers {
  background: #e3eafe;
  max-width: 1440px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.section-speakers__title {
  font: 500 30px/35px 'Roboto', sans-serif;
  text-align: center;
  color: #585858;
  max-width: 451px;
  margin-top: 0;
  margin-bottom: 78px;
  padding-left: 6px;
 }

.pic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 135px;
  padding-bottom: 33px;
 }

.pic__image {
  margin-right: 17px;
  margin-bottom: 60px;
 }

.pic__image:nth-child(9) {
  visibility: hidden;
}

.pic__image:nth-child(10) {
  visibility: hidden;
}

.pic__image:nth-child(11) {
  visibility: hidden;
}

.footer {
  background: #0e1e71;
  max-width: 1440px;
  padding: 0 130px 0 133px;
  display: flex;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: row;
  padding-top: 51px;
}

.address__pic {
  height: 22px;
  width: 15px;
  margin-right: 9px;
}

.address__txt {
  font: 900 18px/21px 'Roboto', sans-serif;
  color: #e1e6e9;
}

.phone {
  display: flex;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
  padding-top: 48px;
}

.contacts__phone-one {
  font: 900 18px/21px 'Roboto', sans-serif;
  color: #e1e6e9;
  max-width: 155px;
  max-height: 21px;
  margin-bottom: 8px;
}

.contacts__phone-two {
  font: 900 18px/21px 'Roboto', sans-serif;
  color: #e1e6e9;
  max-width: 155px;
  max-height: 21px;
  padding-bottom: 152px;
}

.contacts__image-wts {
  width: 52px;
  height: 52px;
  margin-right: 16px;
  padding-top: 46px;
}

.contacts__image-tlgm {
  width: 56px;
  height: 49px;
  padding-top: 47px;
}

@media (max-width: 1366px) {

  .pic {
    padding-left: 40px;
  }

  .pic__image {
    margin-right: 5px;
    width: 24%;
  }
}

@media (max-width: 1024px) {

  .header {
    padding: 0 20px;
  }

  .menu__item {
    margin-right: 30px;
  }

  .menu__item:last-child {
    margin-right: 40px;
  }

  .section-txt {
    padding-right: 40px;
    padding-bottom: 315px;
  }

  .content__title {
    margin-top: 15px;
  }

  .info-txt {
    padding-left: 35px;
  }

  .info-txt__title {
    font: 900 20px/25px 'Roboto', sans-serif;
  }

  .info-txt__subtitle {
    font: 900 15px/18px 'Roboto', sans-serif;
  }

  .content {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .content__title {
    margin-bottom: 20px;
  }

  .content__subtitle {
    margin-bottom: 15px;
  }

  .content__btn {
    margin-bottom: 9px;
  }

  .content__btn-two {
    margin-bottom: 15px;
  }

  .application {
    margin-bottom: 75px;
  }

  .txt__btn {
    width: 240px;
    margin-right: 45px;
  }

  .section-speakers__title {
    margin-bottom: 120px;
  }

@media (max-width: 768px) {

  .header {
    background-size: 100%;
  }

  .menu {
    padding-bottom: 15px;
    padding-top: 33px;
  }

  .menu__item {
    display: none;
  }

  .burger {
    display: block;
  }

  .section-txt {
    padding-bottom: 250px;
  }

  .section-txt__title {
    font: 900 35px/42px 'Roboto', sans-serif;
  }

  .section-txt__subtitle {
    font: 900 17px/20px 'Roboto', sans-serif;
  }

  .content__title {
    font: 500 25px/27px 'Roboto', sans-serif;
  }

  .content__subtitle {
    font: 900 25px/28px 'Roboto', sans-serif;
  }

  .info-txt {
    padding-top: 80px;
    padding-left: 10px;
  }

  .info-txt__title {
    font: 900 20px/23px 'Roboto', sans-serif;
  }

  .info-txt__subtitle {
    font: 900 10px/12px 'Roboto', sans-serif;
  }

  .info-txt__img {
    max-width: 260px;
    max-height: 222px;
  }

  .txt__btn {
    width: 200px;
    margin-right: 15px;
  }

  .section-speakers {
    height: 1400px;
  }

  .section-speakers__title {
    font: 500 25px/28px 'Roboto', sans-serif;
    margin-bottom: 120px;
  }

  .pic {
    padding-left: 230px;
  }

  .pic__image {
    margin-right: 95px;
    width: 23%;
  }

  .footer {
    padding-left: 20px;
    padding-right: 19px;
  }

  .address__txt {
    font: 900 13px/15px 'Roboto', sans-serif;
  }

  .contacts__phone-one {
    font: 900 13px/15px 'Roboto', sans-serif;
  }

  .contacts__phone-two {
    font: 900 13px/15px 'Roboto', sans-serif;
  }
}

@media (max-width: 600px) {

  .application {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    max-height: 442px;
    max-width: 600px;
  }

  .info-txt {
    padding-top: 37px;
    padding-left: 0;
  }

  .info-txt__title {
    margin-bottom: 4px;
    max-width: 152px;
    padding-left: 85px;
    padding-right: 83px;
    text-align: center;
  }

  .info-txt__subtitle {
    padding: 0 53px 0 52px;
    margin: 0 0 21px 0;
    max-height: 24px;
    max-width: 215px;
    text-align: center;
  }

  .info-txt__img {
    margin-bottom: 28px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .txt__btn {
    margin-bottom: 38px;
  }

  .pic {
    padding-left: 150px;
  }

  .pic__image {
    margin-bottom: 40px;
  }

  .section-speakers {
    height: 1223px;
  }
}

@media (max-width: 425px) {

  .container {
    max-width: 425px;
  }

  .header {
    background-size: 425px 334px;
    max-height: 334px;
    max-width: 425px;
  }

  .menu {
    margin-bottom: 8px;
  }

  .section-txt__title {
    font-size: 30px;
    margin-bottom: 5px;
    max-height: 35px;
    width: 263px;
    text-align: center;
  }

  .section-txt__subtitle {
    font-size: 15px;
    margin: 0 0 109px 0;
    padding-right: 30px;
    max-width: 212px;
    text-align: center;
  }

  .section-txt__btn {
    width: 260px;
  }

  .content {
    max-height: 240px;
    max-width: 425px;
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .content__title {
    margin: 0;
    margin-bottom: 47px;
    max-width: 250px;
    max-height: 92px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
  }

  .content__subtitle {
    margin: 0 0 19px 0;
  }

  .content__btn {
    margin-bottom: 8px;
  }

  .content__btn-two {
    padding-bottom: 10px;
  }

  .application {
    max-width: 425px;
  }

  .section-speakers {
    display: flex;
    flex-direction: column;
    max-height: 455px;
  }

  .section-speakers__title {
    font-size: 20px;
    margin-bottom: 28px;
    margin-top: 0;
    max-width: 199px;
  }

  .pic {
    padding-left: 50px;
  }

  .pic__image:first-child {
    height: 260px;
    margin: 0 0 20px 0;
    padding-left: 30px;
    width: 260px;
  }

  .pic__image:nth-child(2) {
    display: none;
  }

  .pic__image:nth-child(3) {
    display: none;
  }

  .pic__image:nth-child(4) {
    display: none;
  }

  .pic__image:nth-child(5) {
    display: none;
  }

  .pic__image:nth-child(6) {
    display: none;
  }

  .pic__image:nth-child(7) {
    display: none;
  }

  .pic__image:nth-child(8) {
    display: none;
  }

  .pic__image:nth-child(9) {
    height: 10px;
    margin-right: 18px;
    padding-left: 130px;
    visibility: visible;
    width: 10px;
  }

  .pic__image:nth-child(10) {
    height: 10px;
    margin-right: 18px;
    visibility: visible;
    width: 10px;
  }

  .pic__image:nth-child(11) {
    height: 10px;
    visibility: visible;
    width: 10px;
  }

  .footer {
    max-height: 92px;
    max-width: 425px;
  }

  .address {
    margin-right: 61px;
    padding-right: 0;
    padding-top: 16px;
  }

  .address__txt {
    font: 900 8px/9px 'Roboto', sans-serif;
  }

  .address__pic {
    height: 13px;
    margin-right: 3px;
  }

  .contacts {
    margin-right: 7px;
    padding-top: 16px;
  }

  .contacts__phone-one {
    font: 900 8px/9px 'Roboto', sans-serif;
    margin-bottom: 5px;
    max-height: 9px;
  }

  .contacts__phone-two {
    font: 900 8px/9px 'Roboto', sans-serif;
    max-height: 9px;
    padding-bottom: 55px;
  }

  .contacts__image-wts {
    height: 20px;
    margin-right: 5px;
    padding-top: 19px;
    width: 20px;
  }

  .contacts__image-tlgm {
    height: 16px;
    padding-top: 21px;
    width: 20px;
  }
}

@media (max-width: 320px) {

  .container {
    max-width: 320px;
    max-height: 1635px;
  }

  .header {
    background: url(img/pic2.jpg);
    background-size: 320px 334px;
    max-height: 334px;
    max-width: 320px;
  }

  .burger {
    margin-top: 5px;
    margin-right: 9px;
  }

  .section-txt {
    margin-left: 49px;
  }

  .section-txt__title {
    font: 900 30px/35px 'Roboto', sans-serif;
    margin-bottom: 6px;
    margin-right: 10px;
    max-height: 35px;
    width: 263px;
    align-self: center;
  }

  .section-txt__subtitle {
    font: 900 15px/17px 'Roboto', sans-serif;
    padding-left: 22px;
    width: 212px;
    align-self: center;
  }

  .section-txt__btn {
    font: 900 15px/17px 'Roboto', sans-serif;
    height: 45px;
    align-self: center;
    padding: 13px;
    margin-right: 10px;
  }

  .content {
    min-height: 270px;
    max-width: 320px;
    padding-top: 25px;
    padding-bottom: 0;
  }

 .content__title {
   font: 500 20px/23px 'Roboto', sans-serif;
   margin-bottom: 7px;
   max-width: 245px;
 }

 .content__subtitle {
   font: 500 20px/23px 'Roboto', sans-serif;
   margin: 0 0 13px 16px;
 }

 .content__btn {
   margin-bottom: 22px;
   width: 260px;
 }

 .application {
   margin-bottom: 0;
   max-width: 320px;
 }

 .info-txt__title {
   font: 900 20px/23px 'Roboto', sans-serif;
   padding-bottom: 4px;
   margin: 0;
 }

 .info-txt__subtitle {
   font: 900 10px/12px 'Roboto', sans-serif;
 }

 .info-txt__img {
   display: none;
 }

 .info-txt__image {
   display: block;
   height: 222px;
   width: 260px;
   margin-bottom: 28px;
 }

 .txt__btn {
   margin-left: 15px;
   width: 263px;
 }

 .section-speakers {
    max-height: 471px;
    max-width: 320px;
 }

 .section-speakers__title {
   font: 500 20px/23px 'Roboto', sans-serif;
   margin-right: 10px;
   padding-top: 31px;
 }

 .pic {
    padding: 0;
 }

 .pic__image:first-child {
   margin: 0 0 27px 0;
 }

 .pic__image:nth-child(9) {
   padding-left: 127px;
 }

 .footer {
   max-width: 320px;
 }

 .address {
   padding-top: 17px;
   padding-left: 11px;
 }

 .address__pic {
   height: 9px;
   width: 6px;
 }

 .contacts {
   padding-top: 17px;
 }

 .phone {
   padding-right: 10px;
 }

 .contacts__phone-one {
   margin-bottom: 3px;
   max-width: 69px;
 }

 .contacts__phone-two {
   max-width: 69px;
 }

 .contacts__image-wts {
   padding-top: 17px;
 }

 .contacts__image-tlgm {
   padding-top: 19px;
 }
}
