.container {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 2766px;
  background-color: #e3eafe;
 }

.header {
  background: url(img/Digital.jpg);
  background-repeat: no-repeat;
  max-height: 839px;
  padding: 0 71px;
 }

.menu {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 131px;
  padding-top: 71px;
 }

.menu__item {
  text-decoration: none;
  margin-right: 60px;
  color: #fff;
  max-width: 725px;
  max-height: 21px;
  font: 900 18px/21px 'Roboto', sans-serif;
 }

.section-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 419px;
  padding-right: 52px;
 }

.section-txt__title {
  color: #e1e6e9;
  font: 900 40px/47px 'Roboto', sans-serif;
  align-self: flex-end;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 7px;
 }

.section-txt__subtitle {
  align-self: flex-end;
  color: #e1e6e9;
  font: 900 20px/23px 'Roboto', sans-serif;
  margin-bottom: 50px;
  max-width: 283px;
  margin-top: 0;
  text-align: right;
 }

.section-txt__btn {
  color: #fff;
  font: 900 20px/23px 'Roboto', sans-serif;
  background: #e0036f;
  text-decoration: none;
  transition: opasity .5s;
  padding: 1px 69px;
  height: 55px;
  align-self: flex-end;
 }

.main__btn:hover {
  opacity: .5;
 }

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 55px;
 }

.content__title {
  font: 500 30px/35px 'Roboto', sans-serif;
  color: #585858;
  text-align: center;
  max-width: 45%;
  margin: 0;
  margin-bottom: 40px;
 }

.content__subtitle {
  font: 900 30px/35px 'Roboto', sans-serif;
  color: #263b83;
  margin: 0;
  margin-bottom: 33px;
  padding-right: 13px;
 }

.content__btn {
  width: 200px;
  height: 55px;
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #000;
  background: #ffda45;
  text-decoration: none;
  transition: opacity .5s;
  margin-bottom: 18px;
 }

.content__btn:hover {
  opacity: .5;
 }

.content__btn2 {
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #585858;
  width: 146px;
  text-decoration: none;
  border-bottom: 3px solid #ffda45;
  padding-bottom: 10px;
 }

.application {
  align-items: center;
  background: #405dbb;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  max-height: 327px;
  max-width: 1440px;
 }

.info-txt {
  padding-left: 130px;
  padding-top: 139px;
 }

.info-txt__title {
  font: 900 30px/35px 'Roboto', sans-serif;
  color: #fff;
  margin: 0 0 20px 0;
  max-width: 227px;
 }

.info-txt__subtitle {
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #fff;
  padding-bottom: 108px;
  padding-right: 43px;
  margin: 0;
  max-width: 430px;
 }

.info-txt__img {
  max-width: 464px;
  max-height: 327px;
  padding-right: 43px;
 }

.txt__btn {
  font: 900 20px/23px 'Roboto', sans-serif;
  color: #000;
  background: #ffda45;
  width: 203px;
  height: 55px;
  text-decoration: none;
  margin-right: 131px;
 }

.section-speakers {
  background: #e3eafe;
  max-width: 1440px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.section-speakers__title {
  font: 500 30px/35px 'Roboto', sans-serif;
  text-align: center;
  color: #585858;
  margin-bottom: 78px;
  margin-top: 0;
  max-width: 451px;
  padding-left: 6px;
 }

.pic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 135px;
  padding-bottom: 33px;
 }

.pic__image {
  margin-right: 17px;
  margin-bottom: 60px;
 }

.footer {
  background: #0e1e71;
  max-width: 1440px;
  max-height: 250px;
  display: flex;
  flex-direction: row;
 }

.address {
  display: flex;
  flex-direction: row;
  padding-right: 708px;
  padding-top: 50px;
  margin-left: 133px;
 }

.address__pic {
  height: 22px;
  width: 15px;
  margin-right: 8px;
 }

.address__txt {
  font: 900 18px/21px 'Roboto', sans-serif;
  color: #e1e6e9;
 }

.phone {
  display: flex;
  flex-direction: row;
 }

.contacts {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
  padding-top: 52px;
 }

.contacts__phone-one {
  font: 900 18px/21px 'Roboto', sans-serif;
  color: #e1e6e9;
  max-width: 155px;
  max-height: 21px;
  margin-bottom: 8px;
 }

.contacts__phone-two {
  font: 900 18px/21px 'Roboto', sans-serif;
  color: #e1e6e9;
  max-width: 155px;
  max-height: 21px;
  padding-bottom: 152px;
 }

.contacts__image-wts {
  width: 52px;
  height: 52px;
  margin-right: 18px;
  padding-top: 46px;
 }

.contacts__image-tlgm {
  width: 56px;
  height: 49px;
  padding-top: 47px;
 }
